body {
    font-size: 1.2rem;
    font-family:'Courier New', Courier, monospace;
    background-color: #25291C;
    color: #ffe4c4;
    padding: 2%;
}

h1 {
    border: 3px dashed rgba(255, 225, 0, 0.8);
    padding: 0.2em;
    text-align: center;
}

input, button {
    font: inherit;
}

.highlight {
    text-transform: uppercase;
    background-color: blueviolet;
}

.crossed-out {
    text-decoration: line-through;
}

.bee {
    display: block;
    margin: 5% auto;
}

.center {
    text-align: center;
}

.container {
    width: 50%;
    padding: 0.2em;;
    margin: 1em; 
}

p {
    color: lavender;
}
