/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* The side navigation menu - https://www.w3schools.com/howto/howto_js_sidenav.asp */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0; /* Position the side nav menu to the left */
    background-color: #25291C;
    border-right: 1px solid hsl(33, 100%, 88%, 0.8);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #e7e2e2;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #ffe4c4;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


body {
    font-size: 1.2rem;
    font-family:'Courier New', Courier, monospace;
    line-height: 1.5;
    background-color: #25291C;
    color: #ffe4c4;
    padding: 0 2% 2%;
    margin: 8% 0 0 0;
}

main {
    padding: 2%;
}

.header_bar {
    background-color: #25291C;
    display: inline;
    text-align: center;
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.trigram {
    position: fixed;
    top: 0;
    left: 2%;
    cursor: pointer;
    overflow-x: hidden;
    font-size: 1.6em;
}

.language {
    position: fixed;
    top: 0;
    right: 2%;
    overflow-x: hidden;
    margin-top: 1%;
    font-size: 0.8em;
    width: 15%;
}

/* 
TODO: make my website responsive for smaller screens
*/
@media screen and (max-width: 1000px) {
    body {font-size: 1rem;}
    .language {font-size: 0.6em;}
    button a {font-size: 0.8rem;}
}

a.lang-button, a.lang-button:visited {
    color: #ffe4c4;
}

a.lang-button:hover {
    font-size: 1.1rem;
    color: #25291C;
}

button {
    font-size: 1rem;
    background-color: #25291C;
    border-radius: 10%;
    padding: 2% 5%;
    transition-duration: 0.2s;
}

button:hover {
    background-color: #ffe4c4;
}

.submit {
    font-size: 1rem;
    padding: 3px 6px;
    color: #ffe4c4;
}

.submit:hover {
    color: #25291C;
    font-size: 1.1rem;
}

.container {
    width: 85%;
    padding: 0.5em;;
    margin: 0.5em; 
}

.highlight {
    background-color: #9c32ffcc;
    color: #fff1df;
}

.crossed-out {
    text-decoration: line-through;
}

.bee {
    display: block;
    margin: 5% auto;
    width: 10%;
}

p {
    color: #ffe4c4;
    margin: 1% 2%;
}

.footer {
    margin: 0;
}

a {
    text-decoration: none; /* remove the default underline from hyperlinks */
    color: #67d6ff;
}

a:visited {
    color: #9e36ff; 
}

a:hover, a:focus {
    color: rgb(251, 109, 251); /* apply when hovering mouse over hyperlinks */
}

a:active {
    color: red; /* apply when user is clicking on links */
}

ul li::marker {
    content: '✔';
    font-size: 1.2em;
    color: limegreen;
    line-height: 1.7;
}

li {
    padding-left: 2%;
}

