/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0; /* Position the side nav menu to the left */
    background-color: #25291C;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* 
TODO: finish the side navigation menu - https://www.w3schools.com/howto/howto_js_sidenav.asp
TODO2: change the style of the language buttons and hyperlinks
*/

body {
    font-size: 1.2rem;
    font-family:'Courier New', Courier, monospace;
    background-color: #25291C;
    color: #ffe4c4;
    padding: 0 2% 2%;
    margin: 8% 0 0 0;
}

.header_bar {
    background-color: #25291C;
    display: inline;
    text-align: center;
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.trigram {
    position: fixed;
    top: 0;
    left: 2%;
    cursor: pointer;
    overflow-x: hidden;
    font-size: 1.6em;
}

.language {
    position: fixed;
    top: 0;
    right: 2%;
    overflow-x: hidden;
    margin-top: 0;
    font-size: 0.8em;
}

a.language {
    text-decoration: none;
    color:#25291C;
}

input, button {
    font: inherit;
}

.container {
    width: 85%;
    padding: 0.5em;;
    margin: 0.5em; 
}

.highlight {
    background-color: #9c32ffcc;
    color: #fff1df;
}

.crossed-out {
    text-decoration: line-through;
}

.bee {
    display: block;
    margin: 5% auto;
    width: 10%;
}

p {
    color: #ffe4c4;
}

a {
    text-decoration: none; /* remove the default underline from hyperlinks */
    color: #67d6ff;
}

a:visited {
    color: #9e36ff; 
}

a:hover, a:focus {
    color: rgb(251, 109, 251); /* apply when hovering mouse over hyperlinks */
}

a:active {
    color: red; /* apply when user is clicking on links */
}


